.navbar-links{
    font-color: #FFFFFF;
    display: flex;
    gap: 1px;
}
#navbar{
    background-color: #684480;
    padding: 10px 20px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}
#dashboard-link{
    text-decoration: none;
    color: black;
    font-weight: bold;
}